<table class="sportsapi-linescore">
<tr class="header">
    <td></td>
    {{#p}}
        <td>{{l}}</td>       
    {{/p}}
    <td class="header-total">T</td>
</tr>
<tr class="away">
    <td class="team">{{a}}</td>
    {{#p}}
         <td>{{a}}</td>      
    {{/p}}
    <td class="total">{{at}}</td>
</tr>
<tr class="home">
    <td class="team">{{h}}</td>
    {{#p}}
         <td>{{h}}</td>      
    {{/p}}
    <td class="total">{{ht}}</td>
</tr>
</table>
