<table>
<tr class="header">
    <td></td>
    {{#p}}
        <td>{{l}}</td>       
    {{/p}}
    <td><strong>T</strong></td>
</tr>
<tr>
    <td>{{a}}</td>
    {{#p}}
         <td>{{a}}</td>      
    {{/p}}
    <td><strong>{{at}}</strong></td>
</tr>
<tr>
    <td>{{h}}</td>
    {{#p}}
         <td>{{h}}</td>      
    {{/p}}
    <td><strong>{{ht}}</strong></td>
</tr>
</table>
