<ul class="sportsapi-minischedule">
    {{#previous}}
        <li class="last-game"><span class="time">{{date}}</span> <span class="opp">{{location}} {{opp}}</span> <span class="score">{{result}} {{score}}</span></li>
    {{/previous}}
    {{#next}}
        <li class="upcoming-games"><span class="time">{{date}} {{time}}</span> <span class="opp">{{location}} {{opp}}</span></li>
    {{/next}}
</ul>
