<div class="sportsapi-team-summary-container">
<table>
<tr>
<td>
<ul class="offense-four-factors sportsapi-team-summary">
<li class="header">OFF 4 FACTORS</li>
<li class="oefg"><span class="label">eFG%:</span> <span class="stat">{{oefg}}</span> <span class="rank">({{oefg_rank}})</span></li>
<li class="otov"><span class="label">TOV%:</span> <span class="stat">{{otov}}</span> <span class="rank">({{otov_rank}})</span></li>
<li class="orb"><span class="label">ORB%:</span> <span class="stat">{{orb}}</span> <span class="rank">({{orb_rank}})</span></li>
<li class="oftfga"><span class="label">FT/FGA:</span> <span class="stat">{{oftfga}}</span> <span class="rank">({{oftfga_rank}})</span></li>
</ul>
</td>
<td>
<ul class="defense-four-factors sportsapi-team-summary">
<li class="header">DEF 4 FACTORS</li>
<li class="defg"><span class="label">eFG%:</span> <span class="stat">{{defg}}</span> <span class="rank">({{defg_rank}})</span></li>
<li class="dtov"><span class="label">TOV%:</span> <span class="stat">{{dtov}}</span> <span class="rank">({{dtov_rank}})</span></li>
<li class="drb"><span class="label">DRB%:</span> <span class="stat">{{drb}}</span> <span class="rank">({{drb_rank}})</span></li>
<li class="dftfga"><span class="label">FT/FGA%:</span> <span class="stat">{{dftfga}}</span> <span class="rank">({{dftfga_rank}})</span></li>
</ul>
</td>
</tr>
<tr>
<td>
<ul class="basic-stats sportsapi-team-summary">
<li class="header">BASIC STATS</li>
<li class="pl"><span class="label">PL:</span> <span class="stat">{{pl}}</span> <span class="rank">({{pl_rank}})</span></li>
<li class="pw"><span class="label">PW:</span> <span class="stat">{{pw}}</span> <span class="rank">({{pw_rank}})</span></li>
<li class="mov"><span class="label">MOV:</span> <span class="stat">{{mov}}</span> <span class="rank">({{mov_rank}})</span></li>
<li class="sos"><span class="label">SOS:</span> <span class="stat">{{sos}}</span> <span class="rank">({{sos_rank}})</span></li>
</ul>
<td>
<ul class="core-stats sportsapi-team-summary">
<li class="header">CORE STATS</li>
<li class="ortg"><span class="label">ORtg:</span> <span class="stat">{{ortg}}</span> <span class="rank">({{ortg_rank}})</span></li>
<li class="drtg"><span class="label">DRtg:</span> <span class="stat">{{drtg}}</span> <span class="rank">({{drtg_rank}})</span></li>
<li class="pace"><span class="label">Pace:</span> <span class="stat">{{pace}}</span> <span class="rank">({{pace_rank}})</span></li>
<li class="srs"><span class="label">SRS:</span> <span class="stat">{{srs}}</span> <span class="rank">({{pace_rank}})</span></li>
</ul>
</td>
</tr>
</div>
